---
import { getCategories } from "../../../lib/newt/client";
import SvgButton from "../../../components/common/buttons/Svg.vue";

const categories = await getCategories();

const currentPath = Astro.url.pathname;
---

<nav class="categories">
	<ul class="categories-list">
		{
			categories &&
				categories.length > 0 &&
				categories.map((category) => {
					return (
						<li class="category">
							<SvgButton svgIconPath={category.svgIconPath} svgViewBox={category.svgViewBox} svgFillColor={category.themeColor} isLink={true} linkUrl={`/blog/category/${category.slug}/1`} currentPath={currentPath} testPathRegex={new RegExp(`\^/blog/category/${category.slug}/`)} widthScale={0.8} heightScale={0.8} />
						</li>
					);
				})
		}
	</ul>
</nav>

<style lang="scss">
	.categories {
		position: sticky;
		top: 36px;
		width: 100vw;
		height: 36px;
		background: getColor(--bg-secondary-color, 0.9);
		margin: 0 -1rem 2rem -1rem;
		z-index: 10;

		@include resp(sm) {
			top: 48px;
			height: 48px;
		}

		@include resp(lg) {
			top: 64px;
			height: 64px;
		}

		.categories-list {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			@include resp(sm) {
				gap: 0.8rem;
			}

			@include resp(lg) {
				gap: 1rem;
			}

			.category {
				height: 100%;
				padding: calc(36px * 0.1);

				@include resp(sm) {
					padding: calc(48px * 0.1);
				}

				@include resp(lg) {
					padding: calc(64px * 0.1);
				}
			}
		}
	}

	.bgborder {
		background: getColor(--border-color, 0.7);
	}
</style>
