---
import { categories } from "../../../lib/newt/instance";
import SvgButton from "../../../components/common/buttons/Svg.vue";
import { svgPaths, svgViewBoxes } from "../../../lib/svg/paths";

const currentPath = Astro.url.pathname;
---

<nav class="categories">
	<ul class="categories-list">
		{
			categories &&
				categories.length > 0 &&
				categories.map((category) => {
					return (
						<li class="category">
							<SvgButton
								svgIconPath={category.svgIconPath}
								svgViewBox={category.svgViewBox}
								svgFillColor={category.themeColor}
								isLink={true}
								linkUrl={`/blog/category/${category.slug}/1`}
								currentPath={currentPath}
								testPathRegex={new RegExp(`\^/blog/category/${category.slug}/`)}
								widthScale={0.8}
								heightScale={0.8}
							/>
						</li>
					);
				})
		}
	</ul>
	<div class="search-btn">
		<SvgButton
			svgIconPath={svgPaths.magnifyingGlass}
			svgViewBox={svgViewBoxes.magnifyingGlass}
			isLink={true}
			linkUrl="/blog/search"
			widthScale={2}
			heightScale={0.8}
			title="検索"
			fontScale={0.8}
			fontWeight={600}
		/>
	</div>
</nav>

<style lang="scss">
	.categories {
		position: sticky;
		top: 36px;
		width: 100vw;
		height: 36px;
		background: getColor(--bg-primary-color, 0.9);
		margin: 0 -1rem 2rem -1rem;
		z-index: 10;
		padding: 0 12px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		@include resp(sm) {
			top: 48px;
			height: 48px;
			padding: 0 24px;
		}

		@include resp(lg) {
			top: 64px;
			height: 64px;
			padding: 0 48px;
			display: none;
		}

		.categories-list {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			@include resp(sm) {
				gap: 0.8rem;
			}

			@include resp(lg) {
				gap: 1rem;
			}

			.category {
				height: 100%;
				padding: calc(36px * 0.1);

				@include resp(sm) {
					padding: calc(48px * 0.1);
				}

				@include resp(lg) {
					padding: calc(64px * 0.1);
				}
			}
		}

		.search-btn {
			color: getColor(--text-secondary-color);
			fill: getColor(--text-secondary-color);
		}
	}

	.bgborder {
		background: getColor(--border-color, 0.7);
	}
</style>
