---
import type { Article } from "../../../lib/newt/types";
// Image
import { Image } from "astro:assets";
// Header Image
import HeaderImage from "../../../images/common/portfolio-favicon.png";

interface Props {
	articleProps: Pick<Article, "title" | "slug" | "description" | "thambnail" | "category" | "tags" | "_sys">;
}

const { articleProps } = Astro.props;
const { title, slug, description, thambnail, category, tags, _sys } = articleProps;
---

<a href={`/blog/article/${slug}`} class="card">
	<div class="thambnail">
		{thambnail ? <Image src={thambnail.src} width={thambnail.width} height={thambnail.height} alt={thambnail?.altText ?? ""} /> : <Image src={HeaderImage} alt="" />}
	</div>
	<ul class="info">
		<li class="title">
			<h1>{title}</h1>
		</li>
		<li class="description">
			<p>{description}</p>
		</li>
		<li class="meta-info">
			<div class="tags">
				{
					tags && tags.length !== 0 ? (
						tags.slice(0, 2).map((tag) => {
							return (
								<div class="tag">
									{tag.icon ? (
										<Image src={tag.icon.src} width={tag.icon.width} height={tag.icon.height} alt={tag.icon?.altText ?? ""} />
									) : (
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
											<path d="M0 80V229.5c0 17 6.7 33.3 18.7 45.3l176 176c25 25 65.5 25 90.5 0L418.7 317.3c25-25 25-65.5 0-90.5l-176-176c-12-12-28.3-18.7-45.3-18.7H48C21.5 32 0 53.5 0 80zm112 32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
										</svg>
									)}
									<label>{tag.name}</label>
								</div>
							);
						})
					) : (
						<div>No Tag</div>
					)
				}
			</div>
			<div class="published-at">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path>
				</svg>
				<label>{new Intl.DateTimeFormat("ja").format(new Date(_sys.raw.publishedAt))}</label>
			</div>
		</li>
	</ul>
</a>

<style lang="scss">
	.card {
		position: relative;
		display: block;
		width: 100%;
		height: 256px;
		border: solid 2px var(--border-color);
		border-radius: 8px;

		.thambnail {
			width: 100%;
			height: 100%;
			position: absolute;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 6px;
			}
		}

		.info {
			width: 100%;
			height: 50%;
			position: absolute;
			bottom: 0;
			border-radius: 0 0 6px 6px;
			background: var(--bg-secondary-color);
			opacity: 0.8;

			.title {
				font-size: 1.5rem;
				font-weight: 700;
				padding: 0.1rem 0.2rem;
			}

			.description {
				font-size: 1rem;
				font-weight: 400;
				padding: 0.2rem 0.2rem;
			}

			.meta-info {
				position: absolute;
				bottom: 4px;
				width: 100%;
				height: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 0.2rem;

				.tags {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					height: 100%;

					.tag {
						background: $rose;
						border-radius: 4px;
						padding: 0.2rem;
						height: 100%;
						display: flex;
						align-items: center;
						gap: 0.2rem;

						img {
							width: auto;
							height: 0.8rem;
							object-fit: contain;
						}

						label {
							font-size: 0.8rem;
							font-weight: 700;
						}
					}
				}

				.published-at {
					height: 100%;
					display: flex;
					align-items: center;
					gap: 0.2rem;
					svg {
						height: 1rem;
						fill: var(--text-primary-color);
					}
				}
			}
		}
	}
</style>
