---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import PageTitle from "../components/blog/background/PageTitle.astro";
import PageTitleForPc from "../components/blog/background/PageTitleForPc.astro";
import { svgPaths, svgViewBoxes } from "../lib/svg/paths";

import { Content } from "../components/markdown/site-policy.md";
---

<ArticleLayout title={`サイトポリシー | ${import.meta.env.APP_NAME}`} description="サイトポリシー">
	<PageTitle
		title="サイトポリシー"
		svgIconPath={svgPaths.circleInfo}
		svgViewBox={svgViewBoxes.circleInfo}
	/>
	<PageTitleForPc
		title="サイトポリシー"
		svgIconPath={svgPaths.circleInfo}
		svgViewBox={svgViewBoxes.circleInfo}
	/>
	<div class="article-content">
		<Content />
	</div>
</ArticleLayout>
