---
import Layout from "../../../../layouts/Layout.astro";
import PageTitle from "../../../../components/blog/background/PageTitle.astro";
import CategoriesNavBar from "../../../../components/blog/background/CategoriesNavBar.astro";
import ArticleCards from "../../../../components/blog/large/ArticleCards.astro";
import TagsListModal from "../../../../components/common/modal/TagsListModal.vue";
import ArchivesListModal from "../../../../components/common/modal/ArchivesListModal.vue";
import Pager from "../../../../components/blog/background/Pager.vue";
import { articles, categories, tags } from "../../../../lib/newt/instance";
import { getArticles, getCategories } from "../../../../lib/newt/client";
import type { Article, Category } from "../../../../lib/newt/types";
import type { Page, GetStaticPathsOptions } from "astro";
import PageTitleForPc from "../../../../components/blog/background/PageTitleForPc.astro";
import { svgPaths, svgViewBoxes } from "../../../../lib/svg/paths";

export const getStaticPaths = async ({
	paginate,
}: {
	paginate: GetStaticPathsOptions["paginate"];
}) => {
	const categories = await getCategories();
	const articles = await getArticles();

	if (!categories || !articles || articles.length <= 0) {
		return null;
	}

	const routes = categories.flatMap((category) => {
		const filteredArticles = articles.filter((article) => {
			return article.category.slug === category.slug;
		});
		return paginate(filteredArticles, {
			params: { categorySlug: category.slug },
			pageSize: 1,
			props: { category: category },
		});
	});
	return routes;
};

// Props
interface Props {
	page: Page<Article>;
	category: Category;
}

const { page, category } = Astro.props;
---

<Layout
	title={`${category.name}の記事一覧 | ページ${page.currentPage} | ブログ | ${import.meta.env.APP_NAME}`}
	description={category.description ?? ""}
>
	<div id="contents">
		<section id="articles">
			<PageTitleForPc
				title={category.name}
				bgImage={category.image}
				svgIconPath={category.svgIconPath}
				svgViewBox={category.svgViewBox}
				marginRem={2}
			/>
			<PageTitle
				title={category.name}
				bgImage={category.image}
				svgIconPath={category.svgIconPath}
				svgViewBox={category.svgViewBox}
			/>
			<CategoriesNavBar />
			<ArticleCards articles={page.data} />
			<Pager page={page} />
		</section>
		<section id="sidebar">
			<TagsListModal categories={categories} tags={tags} client:visible />
			<ArchivesListModal articles={articles} client:visible />
		</section>
	</div>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	const cards = gsap.utils.toArray(".article-card");

	cards.forEach((elm: any) => {
		gsap.from(elm, {
			ease: "expo.out",
			duration: 1.5,
			xPercent: 50,
			autoAlpha: 0,
			overflowX: "hidden",
			scrollTrigger: {
				trigger: elm,
			},
		});
	});
</script>

<style lang="scss">
	#contents {
		@include resp(lg) {
			display: flex;
		}

		#articles {
			@include resp(lg) {
				width: 75%;
			}
		}

		#sidebar {
			@include resp(lg) {
				width: 25%;
				margin-top: -2rem;
			}
		}
	}
</style>
