---
import type { Article } from "../../../lib/newt/types";
import TagCard from "../card/TagCard.vue";
import { svgPaths, svgViewBoxes } from "../../../lib/svg/paths";
// Image
import { Image } from "astro:assets";
// Header Image
import NoImage from "../../../images/common/no-image.png";
import { sliceText } from "../../../lib/fusejs/instance";

interface Props {
	article: Pick<Article, "title" | "slug" | "description" | "thambnail" | "category" | "tags" | "_sys">;
}

const { article } = Astro.props;
const { title, slug, description, thambnail, tags, _sys } = article;
---

<a href={`/blog/article/${slug}`} class="card">
	<figure class="thambnail">
		{thambnail ? <Image src={thambnail.src} width={thambnail.width} height={thambnail.height} alt={thambnail?.altText ?? ""} /> : <Image src={NoImage} alt="No Image" />}
	</figure>
	<ul class="info">
		<li class="title">
			<h1>{sliceText(title, 30)}</h1>
		</li>
		<li class="description">
			<p>{sliceText(description, 35)}</p>
		</li>
		<li class="meta-info">
			<div class="tags">
				{
					tags && tags.length !== 0 ? (
						tags.slice(0, 2).map((tag) => {
							return <TagCard tag={tag} isLink={false} />;
						})
					) : (
						<></>
					)
				}
			</div>
			<div class="published-at">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.clock}>
					<path d={svgPaths.clock}></path>
				</svg>
				<span>{new Intl.DateTimeFormat("ja").format(new Date(_sys.raw.firstPublishedAt))}</span>
			</div>
		</li>
	</ul>
</a>

<style lang="scss">
	.card {
		display: block;
		position: relative;
		width: 100%;
		height: 256px;
		border-radius: 8px;

		&:active {
			opacity: 0.5;
			transition: 0.3s ease;
		}

		@include resp(lg) {
			&:hover {
				opacity: 0.5;
				transition: 0.2s all;
			}
		}

		.thambnail {
			width: 100%;
			height: 100%;
			position: absolute;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 6px;
			}
		}

		.info {
			width: 100%;
			height: 50%;
			position: absolute;
			bottom: 0;
			border-radius: 0 0 6px 6px;
			background: getColor(--bg-secondary-color, 0.7);

			.title {
				height: calc(2.8rem + 10px);
				font-size: 1.4rem;
				font-weight: 700;
				padding: 0.2rem;
				letter-spacing: 0.7px;
			}

			.description {
				height: calc(2rem + 10px);
				font-size: 1rem;
				font-weight: 400;
				padding: 0.2rem;

				p {
					color: getColor(--text-secondary-color);
				}
			}

			.meta-info {
				position: absolute;
				bottom: 4px;
				width: 100%;
				height: 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 0.2rem;

				.tags {
					width: max-content;
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}

				.published-at {
					font-size: 0.9rem;
					display: flex;
					align-items: center;
					gap: 0.3rem;
					letter-spacing: 0.5px;

					svg {
						width: auto;
						height: 0.8rem;
						fill: getColor(--text-primary-color);
					}
				}
			}
		}
	}
</style>
