---
import { svgPaths, svgViewBoxes } from "../../lib/svg/paths";
import ZennLogo from "../../images/common/zenn-logo.svg";
// Image
import { Image } from "astro:assets";
const date = new Date();
const year = date.getFullYear();
---

<footer>
	<h6 class="copyright">
		&copy; {year} Shota Inoue
	</h6>
	<ul class="external-links">
		<li class="external-link">
			<a href={import.meta.env.X_URL} target="_blank" rel="noopener noreferrer">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.xTwitter}>
					<path d={svgPaths.xTwitter}></path>
				</svg>
			</a>
		</li>
		<li class="external-link">
			<a href={import.meta.env.GITHUB_URL} target="_blank" rel="noopener noreferrer">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.github}>
					<path d={svgPaths.github}></path>
				</svg>
			</a>
		</li>
		<li class="external-link">
			<a href={import.meta.env.ZENN_URL} target="_blank" rel="noopener noreferrer">
				<Image src={ZennLogo} alt="Zenn" />
			</a>
		</li>
	</ul>
</footer>

<style lang="scss">
	footer {
		width: 100%;
		height: 36px;
		padding: 6px;

		@include resp(sm) {
			height: 40px;
			padding: 6px 12px;
		}

		@include resp(lg) {
			height: 44px;
		}

		position: sticky;
		top: 100vh;
		background: getColor(--bg-secondary-color);
		box-shadow: 0 0 3px getColor(--shadow-color);

		.copyright {
			font-size: 0.8rem;
			font-weight: 300;
			color: getColor(--text-primary-color);
			position: absolute;
			top: 50%;
			left: 1rem;
			transform: translate(0, -50%);

			@include resp(sm) {
				font-size: 0.9rem;
			}

			@include resp(lg) {
				font-size: 1rem;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.external-links {
			position: absolute;
			right: 1rem;

			display: flex;
			align-items: center;
			gap: 1.2rem;

			@include resp(lg) {
				right: 2rem;
				gap: 2rem;
			}

			.external-link {
				width: 1.2rem;
				height: 1.2rem;

				@include resp(lg) {
					width: 2rem;
					height: 2rem;

					&:hover {
						opacity: 0.5;
						transition: 0.2s all;
					}
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}

				svg {
					width: 100%;
					height: 100%;
					fill: getColor(--bg-inversion-color);
				}
			}
		}
	}
</style>
