---
// Image
import { Image } from "astro:assets";
import type { Article } from "../../../lib/newt/types";
import { svgPaths, svgViewBoxes } from "../../../lib/svg/paths";

interface Props {
	direction: "prev" | "next";
	article?: Pick<Article, "title" | "thambnail" | "slug"> | null;
}

const { direction, article } = Astro.props;
---

<>
	{
		() => {
			if (article && direction === "prev") {
				return (
					<a href={`/blog/article/${article.slug}`} class="prev">
						<Image src={article.thambnail.src} width={article.thambnail.width} height={article.thambnail.height} alt={article.thambnail.altText} class="img-prev" />
						<div class="title">{article.title}</div>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.chevronRight}>
							<path d={svgPaths.chevronRight} />
						</svg>
					</a>
				);
			} else if (article && direction === "next") {
				return (
					<a href={`/blog/article/${article.slug}`} class="next">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.chevronLeft}>
							<path d={svgPaths.chevronLeft} />
						</svg>
						<div class="title">{article.title}</div>
						<Image src={article.thambnail.src} width={article.thambnail.width} height={article.thambnail.height} alt={article.thambnail.altText} class="img-next" />
					</a>
				);
			} else {
				return <></>;
			}
		}
	}
</>

<style scoped lang="scss">
	.prev,
	.next {
		background: getColor(--bg-secondary-color);
		margin-top: 1rem;
		width: 100%;
		height: 80px;
		border-radius: 4px;
		display: flex;

		@include resp(lg) {
			height: 92px;
			border-radius: 8px;
			width: calc(50% - 1rem);
		}

		&:active {
			opacity: .5;
			transition: .2s ease;
		}

		@include resp(lg) {
			&:hover {
				opacity: 0.5;
				transition: 0.2s all;
			}
		}

		.title {
			padding: 4px;
			width: calc(100% - 80px - 32px);

			@include resp(lg) {
				padding: 8px;
			    width: calc(100% - 92px - 48px - 16px);
			}
		}

		img {
			width: 80px;
			height: 100%;
			object-fit: cover;

			@include resp(lg) {
				width: 92px;
			}
		}

		svg {
			margin: auto;
			width: 32px;
			max-height: 32px;
			fill: getColor(--text-primary-color);

			@include resp(lg) {
				margin: auto;
			  width: 48px;
				max-height: 48px;
			}
		}
	}

	.img-prev {
		border-radius: 4px 0 0 4px;

		@include resp(lg) {
			border-radius: 8px 0 0 8px;
		}
	}

	.img-next {
		border-radius: 0 4px 4px 0;

		@include resp(lg) {
			border-radius: 0 8px 8px 0;
		}
	}
</style>
