---
// Image
import { Image } from "astro:assets";
import type { Article } from "../../../lib/newt/types";
import { svgPaths, svgViewBoxes } from "../../../lib/svg/paths";

interface Props {
	direction: "prev" | "next";
	article?: Pick<Article, "title" | "thambnail" | "slug"> | null;
}

const { direction, article } = Astro.props;
---

<>
	{
		() => {
			if (article && direction === "prev") {
				return (
					<a href={`/blog/article/${article.slug}`} class="prev">
						<Image src={article.thambnail.src} width={article.thambnail.width} height={article.thambnail.height} alt={article.thambnail.altText} class="img-prev" />
						<h2>{article.title}</h2>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.chevronRight}>
							<path d={svgPaths.chevronRight} />
						</svg>
					</a>
				);
			} else if (article && direction === "next") {
				return (
					<a href={`/blog/article/${article.slug}`} class="next">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox={svgViewBoxes.chevronLeft}>
							<path d={svgPaths.chevronLeft} />
						</svg>
						<h2>{article.title}</h2>
						<Image src={article.thambnail.src} width={article.thambnail.width} height={article.thambnail.height} alt={article.thambnail.altText} class="img-next" />
					</a>
				);
			} else {
				return <></>;
			}
		}
	}
</>

<style scoped lang="scss">
	.prev,
	.next {
		margin-top: 1rem;
		width: 100%;
		height: 64px;
		background: getColor(--bg-secondary-color);
		border: solid 2px getColor(--border-color);
		border-radius: 4px;
		display: flex;

		&:active {
			opacity: .5;
			transition: .2s ease;
		}

		h2 {
			padding: 4px;
			width: calc(100% - 64px - 32px);
		}

		img {
			width: 64px;
			height: 100%;
			object-fit: cover;
		}

		svg {
			margin: 16px 0;
			width: 32px;
			height: auto;
			fill: getColor(--text-primary-color);
			
		}
	}

	.img-next {
		border-radius: 0 2px 2px 0;
	}

	.img-prev {
		border-radius: 2px 0 0 2px;
	}
</style>
