---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const currentPath = Astro.url.pathname;

// prerender page
export const prerender = true;
---

<!doctype html>
<html lang="ja">
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={`${import.meta.env.APP_URL}/public/portfolio-favicon.png`} />

		<!--noindex nofollow-->
		<!-- <meta name="robots" content="noindex" />
		<meta name="robots" content="nofollow" /> -->

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/portfolio-favicon.png" />

		<!--Reset CSS -->
		<link rel="stylesheet" href="https://unpkg.com/destyle.css@3.0.2/destyle.min.css" />

		<!--Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&&family=Zen+Dots&display=swap" rel="stylesheet" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		{currentPath !== "/" ? <Header /> : <></>}
		<main>
			<slot />
		</main>
		<Footer />

		<!--ダークモード -->
		<script is:inline>
			if (typeof window.localStorage.getItem("theme") === "string") {
				if (window.localStorage.getItem("theme") === "dark") {
					document.documentElement.classList.remove("light");
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
					document.documentElement.classList.add("light");
				}
			} else {
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				    document.documentElement.classList.remove("light");
				    document.documentElement.classList.add("dark");
			    } else {
				    document.documentElement.classList.remove("dark");
				    document.documentElement.classList.add("light");
			    }
			}
		</script>
	</body>
</html>

<style is:global lang="scss">
	html {
		font-family: "Montserrat", "Noto sans JP", "sans-serif";
		scroll-behavior: smooth;
	}

	body {
		overflow-x: hidden;
		line-break: strict;
		word-break: break-word;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	main {
		color: getColor(--text-primary-color);
		background: getColor(--bg-primary-color);
		width: 100%;
		min-height: calc(100vh - 36px);
		padding: 1rem;
		padding-top: calc(36px + 1rem);

		@include resp(sm) {
			padding-top: calc(48px + 1rem);
			min-height: calc(100vh - 40px);
		}

		@include resp(lg) {
			padding-top: calc(64px + 1rem);
			min-height: calc(100vh - 44px);
		}
	}
</style>
